@font-face {
    font-family: "Final Fantasy";
    src: url("./assets/fonts/finalf.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LOTR";
    src: url("./assets/fonts/MorrisRoman-Black.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HP";
    src: url("./assets/fonts/ParryHotter.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ROCK";
    src: url("./assets/fonts/RockAwayDemoRegular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BALLERICK";
    src: url("./assets/fonts/Ballerick.ttf.otf");
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: "ROCK";
}

main {
    font-family: "BALLERICK";
}

.card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.poster-detail {
    width: 100%;
}

.book-image {
    aspect-ratio: 9/16;
    width: 100%;
    object-fit: cover;
}